*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box{
    width: 250px;
    height: 250px;
    padding: 50px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 2px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box input{
    width: 200px;
    height: 40px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
}

.box button {
    width: 200px;
    height: 35px;
    background-color: blue;
    color: white;
    margin-top: 20px;
    border-radius: 30px;
}

.weatherResult{
    width: 250px;
    height: 200px;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    margin-top: 30px;
    box-shadow: 2px 2px 2px grey;
}